
/* CSS header tasks */
.toDoListContainer{
  display: flex;
  flex-direction: column;
  width: 736px;
  margin: 91px auto;
}
.toDoListHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.headerCreatedTasks{
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--blue-light);
  font-weight: 700;
  height: 19px;
}

.counter{
  color: var(--gray-100);
  background: var(--gray-400);
  line-height: 15px;
  padding: 2px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-size: 0.75rem;
}

.headerFinishedTasks{
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--purple-light);
  font-weight: 700;
  height: 19px;}


  /* CSS tasks */
.toDoListBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.taskComponent{
  background: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1.4;
  font-size: 0.875rem;
  gap: 0.75rem;
}

.taskComponentEmpty{
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.taskComponentEmptyBody {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-300);
  gap: 1rem;
  line-height: 1.4;
  text-align: center;
}



.checkBoxContainer {
  width: 1.5rem;
  height: 1.5rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.checkbox {


}
.round {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: hidden;
}

.taskComponent p {
  flex: 1;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 0.25rem;
}
.trash:hover {
  color: var(--red-500);
  background: var(--gray-400);
}

.checked {
  text-decoration: line-through;
  color: var(--gray-300);
  background: var(--gray-500)
}